& {
  .mob-btn {
    display: block;
  }
  .registration {
    img {
      width: 100%;
    }
  }

  .logo {
    max-width: 250px;
  }
  .menu {
    display: none;
    clear: both;
    float: none;
    margin-top: 50px;
    li {
      display: block;
      margin-bottom: 10px;
    }
  }
  #ytplayer {
    display: none;
  }
  .head-title, .uf_detectop-title, .characteristics-title, .video h2, .registration-title {
    line-height: 1.2;
    font-size: 30px;
  }
  .head-subtitle, .head-info, .uf_detectop-subtitle, .uf_detectop .content p, .uf_detectop .content ul li span,
  .characteristics-subtitle , .characteristics-subtitle span {
    font-size: 18px;
  }
  header {
    img {
      width: 100%;
    }
  }
  .uf_detectop .content ul li span {
    max-width: 225px;
  }
  .uf_detectop .content p, .text-right {
    text-align: center;
  }

  .video {
    iframe {
      height: 315px;
    }
  }
  .registration {
    img {
      width: 100%;
    }
  }
  select {
    width: 100% !important;
  }
  .characteristics {
    padding-bottom: 30px;
  }
  .video, .registration {
    padding: 30px 0;
  }
  .registration-btn {
      padding: 5px 10px;
      font-size: 12px;
      min-height: 22px;
      transition: .2s;
      cursor: pointer;
      float: right;
      margin-right: 10px;
      margin-top: 5px;
  }
  .modal {
    padding: 60px 10px 15px;
  }
  .uf_detectop .m_detectop {
      margin-top: 30px;
    }
    .al-center {
      position: static;
    }
    .col6 {
    float: none;
    max-width: 100%;
    img {
      width: 100%;
    }
  }
  .table-box {
    padding: 0;
  }
  .table-box table tr td, .table-box table tr td:first-child {
    padding: 2px;
    font-size: 8px;
  }
  .table-box ul {
    
    padding-left: 25px;

  }
  .table-box * {
      font-size: 8px;
      line-height: 1;

  }
  .countbox {
    float: right;
    width: 20%;
}
#shipping_cost {
  font-size: 12px;
  line-height: 1;
}
.registration-box {
  padding: 10px;
}
.old-sum {
  margin-top: -70px;
}
}